<div class="container topic-card">
	<div class="row justify-content-center">
		<a routerLink="/topic-details/{{topic.id}}" *ngIf="topicLinksActive; else titleDiv" id="{{'topic_card_title_'+topic.id}}">
			<ng-template *ngTemplateOutlet="titleDiv"></ng-template>
		</a>
		<ng-template #titleDiv>
			<div class="col-12 title">{{topic.title}}</div>
		</ng-template>
	</div>
	<div class="row justify-content-center" [ngClass]="{clickable: topicLinksActive}" (click)="goToDetailsPage()" id="{{'topic_card_image_'+topic.id}}">
		<img class="col-12 col-md-8 col-lg-6" mat-card-image src={{topic.mediaUrl}} alt="{{'topic image for id '+topic.title}}">
	</div>
	<div class="row justify-content-end">
		<div class="col-12 col-md-8 col-lg-6 container">
			<div class = "row justify-content-end">
				<span class="col-8 col-lg-10" *ngIf="topic.comments?.length">{{topic.comments?.length}} comments</span>
				<span matTooltip="UpVote" class="col-2 col-lg-1 thumbs-up" (click)="vote(true)" id="{{'topic_card_upvote_'+topic.id}}"></span>
				<span matTooltip="DownVote" class="col-2 col-lg-1 thumbs-down" (click)="vote(false)" id="{{'topic_card_downvote_'+topic.id}}"></span>
			</div>
		</div>
	</div>
</div>
