.sticky-footer{
  position: sticky;
  bottom: 0px;
  z-index: 1000;
}

.container{
  max-width: 100%;
}

.mat-toolbar{
  background-color: #9600FF;
}

.media-icons{
  max-height: 40px;
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
